## Homework 1: Introduction to Machine Learning for Machine Learning Zoomcamp 2025

### IMPORT LIBRARY

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

print("All libraries installed successfully")

All libraries installed successfully

### What version of Pandas did you install?

In [2]:
# VERSION OF PANDAS
pd.__version__

'2.2.2'

### Reading .csv file

In [3]:
# Read csv file
# show first 5 files 
CAR_FUEL_EFF = pd.read_csv('car_fuel_efficiency.csv')
CAR_FUEL_EFF.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

### Q2) How many records are in the dataset?

In [4]:
CAR_FUEL_EFF.shape
print('There are {} rows and {} columns in the dataset'.format(CAR_FUEL_EFF.shape[0],CAR_FUEL_EFF.shape[1]))

There are 9704 rows and 11 columns in the dataset

### Q3) How many fuel types are presented in the dataset?

In [5]:
# The number of unique fuel types
fuel_types_num = CAR_FUEL_EFF ["fuel_type"].nunique()
print("There are {} types of fuel.".format(fuel_types_num))

# The List of unique fuel types
print("\nFuel types:", CAR_FUEL_EFF["fuel_type"].unique())

There are 2 types of fuel.

Fuel types: ['Gasoline' 'Diesel']

### # Q4) How many columns in the dataset have missing values?

In [6]:
# To check missing values
CAR_FUEL_EFF.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [7]:
# Show missing value counts per column
# Count columns with missing values
missing_columns_count = CAR_FUEL_EFF.isnull().sum().gt(0).sum()
print(missing_columns_count ,"Columns have missing values")

print("\nColumns with missing values:")
print(CAR_FUEL_EFF.isnull().sum()[CAR_FUEL_EFF.isnull().sum() > 0])

4 Columns have missing values

Columns with missing values:
num_cylinders    482
horsepower       708
acceleration     930
num_doors        502
dtype: int64

### Q5) What's the maximum fuel efficiency of cars from Asia?

In [8]:
Asia_cars = CAR_FUEL_EFF.loc[CAR_FUEL_EFF["origin"] == "Asia"]
Asia_cars.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
20,150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
21,160,4.0,133.0,2659.431451,NaN,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730

In [9]:
# Maximum fuel efficiency of cars from Asia
Asia_cars_maxEFF = CAR_FUEL_EFF.loc[CAR_FUEL_EFF["origin"] == "Asia","fuel_efficiency_mpg"].max()
print("Maximum fuel efficiency For Asia cars:", Asia_cars_maxEFF)

Maximum fuel efficiency For Asia cars: 23.759122836520497

### Q6) Median value of horsepower

##### Find the median value of the horsepower column in the dataset.
##### Next, calculate the most frequent value of the same horsepower column.
##### Use the fillna method to fill the missing values in the horsepower column with the most frequent value from the previous step.
##### Now, calculate the median value of horsepower once again.
##### Has it changed?
##### a) Yes, it increased
##### b) Yes, it decreased
##### c) No

In [10]:
# Median of horsepower column
Horsepower_med = CAR_FUEL_EFF["horsepower"].median()
print("Median horsepower:", Horsepower_med)

Median horsepower: 149.0

In [11]:
# Most frequent value (mode) of horsepower
Horsepower_mostFREQ = CAR_FUEL_EFF["horsepower"].mode()
print("Most frequent horsepower value:", Horsepower_mostFREQ)

Most frequent horsepower value: 0    152.0
Name: horsepower, dtype: float64

In [12]:
# Most frequent value (mode) of horsepower
Horsepower_mostFREQ = CAR_FUEL_EFF["horsepower"].mode()[0]  # [0] shows only one most frequent value
print("Most frequent horsepower value:", Horsepower_mostFREQ)

Most frequent horsepower value: 152.0

In [13]:
# FILLNA_Fill missing values with the most frequent value
CAR_FUEL_EFF["horsepower"] = CAR_FUEL_EFF["horsepower"].fillna(Horsepower_mostFREQ)

print("Missing values in horsepower after filling:", CAR_FUEL_EFF["horsepower"].isnull().sum())

Missing values in horsepower after filling: 0

In [14]:
# Median after filling missing values with Horsepower most frequent value
Horsepower_med = CAR_FUEL_EFF["horsepower"].median()
print("Median horsepower:", Horsepower_med)

Median horsepower: 152.0

### Q7) Sum of weights

##### Select all the cars from Asia
##### Select only columns vehicle_weight and model_year
##### Select the first 7 values
##### Get the underlying NumPy array. Let's call it X.
##### Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
##### Invert XTX.
##### Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
##### Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
##### What's the sum of all the elements of the result?

In [15]:
# Select Asia cars, only columns(vehicle_weight and model_year)
Asia_cars_WY = CAR_FUEL_EFF.loc[CAR_FUEL_EFF["origin"] == "Asia", ["vehicle_weight", "model_year"]]

# Select first 7 values
Asia_cars_WY7 = Asia_cars_WY.head(7)
Asia_cars_WY7

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [16]:
# Get the underlying NumPy array
X = Asia_cars_WY7.values # gets the NumPy array

# Compute matrix-matrix multiplication between X.T and X
XTX = X.T @ X # computes the product of the transpose and the original matrix

# Invert XTX
XTX_inv = np.linalg.inv(XTX) # gives the inverse of that product

print("X shape:", X.shape)
print("XTX:\n", XTX)
print("Inverse of XTX:\n", XTX_inv)

X shape: (7, 2)
XTX:
 [[62248334.33150762 41431216.5073268 ]
 [41431216.5073268  28373339.        ]]
Inverse of XTX:
 [[ 5.71497081e-07 -8.34509443e-07]
 [-8.34509443e-07  1.25380877e-06]]

In [17]:
# Create y
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

# Compute w = (XTX_inv @ X.T) @ y 
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y
w = XTX_inv @ X.T @ y

# Sum of elements in w
sum_w = w.sum()


print("w:", w)
print("Sum of elements in w:", sum_w)

w: [0.01386421 0.5049067 ]
Sum of elements in w: 0.5187709081074007